body {
    background-color: black;
    color: white;
}

.title {
    color: #e50914;
}
.card {
    background-color: #333;
    width: 18rem;
    height: 22rem;
    overflow: auto;
}

.forms {
    width: 50%;
}

.movies {
    width: 50%;
}
